html, body {
  height: 100%; /* Ensure full height for the page */
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Ensure root takes the full height */
}

.main-content {
  flex: 1; /* This ensures the content area grows to fill space */
  padding: 0 20px;
}

@media (min-width: 768px) {
  .main-content {
    padding: 0 40px; /* Larger padding for medium screens */
  }
}

@media (min-width: 1200px) {
  .main-content {
    padding: 0 180px; /* Larger padding for wider screens */
  }
}

