:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-primary:#D64309;
  --background-white: #fff;
  --background-secondary: #F4F5F6; /* Light gray */
  --text-color: #212529;
  --text-primary:#1A1A1A;
  --text-brand-color: #D64309;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

